_format_version: "3.0"

services:
  - name: "ping-services"
    url: "http://localhost"
    routes:
      - name: "ping-route"
        paths:
          - "/ping"
    plugins:
      - name: ping
        config:
          services:
            - name: "user"
              method: "GET"
              url: "http://user.local/ping"

